<?xml version="1.0"?>
<module xmlns="http://schema.slothsoft.net/farah/module" xmlns:sfm="http://schema.slothsoft.net/farah/module">
  <!--
Farah Module Manifest

Module: sse
Vendor: slothsoft
Farah ID: farah://slothsoft@sse
Composer ID: slothsoft/sse

Homepage: http://farah.slothsoft.net/modules/sse
Packagist: https://packagist.org/packages/slothsoft/sse
GitHub: https://github.com/Faulo/slothsoft-sse

Llo
-->
  <default-configuration/>
  <assets>
    <resource-directory name="data" path="data" type="application/x-php"/>
    <resource-directory name="css" path="stylesheet" type="text/css"/>
    <resource-directory name="js" path="script" type="application/javascript"/>
    <resource-directory name="xsl" path="template" type="application/xslt+xml"/>
    <resource-directory name="dictionary" path="dictionary" type="application/xml"/>
    <resource-directory name="pages" path="pages" type="application/xml"/>
    <directory name="static"/>
    <fragment name="script">
      <import ref="//core/DOM"/>
      <link-script ref="js/SSE"/>
      <link-script ref="js/SSE.Client"/>
    </fragment>
  </assets>
</module>
